# Base de datos
data/
*.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Entornos virtuales
env/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini